
--extra-index-url https://download.pytorch.org/whl/cpu


torch==2.8.0+cpu
torchvision==0.23.0+cpu


openai
minio
langchain-openai
langchain-text-splitters
langgraph
grandalf
pymilvus[milvus_lite]
pymilvus[model]
sentence-transformers>=2.2.2
neo4j
pymongo
fastapi
uvicorn
jinja2
python-dotenv
python-multipart
mineru[all]
openai-agents
